    {% extends "base.html" %}
    {% block title %}About{% endblock%}
    {% block content %}
    <div class="container h-100 ">
       <div class="row" style="height: 100%">      
            <div class="col-sm-6  ms-1 green-border">
                <div class="hilight-txt mt-4 ms-4">
                   <h5 style="font-style: italic;">About Sharla</h5>
                </div>
                <div class="scrollable-div about-text">
                   <p>
                    The arc of my life has little to do with dates, events or achievements.  I have known love – especially love of family.  As often as I could, I have helped others.  And I will always strive to be joyfully free in body and mind.
                    </p><p>  
                    As a young girl growing up in Idaho, I climbed trees, danced, performed gymnastics and forged friendships that continue today.  Postural images, such as leaps and bridges, appear in my writing, for example, in American Woman Suspended (in process).  While living in South Korea and writing this prose narrative and poems, I expressed my responses to being immersed in a culture that is different from the one in which I grew up.
                    </p><p>  
                    These days, I write poetry and lead The Live Poets Society in Boise.  Give-and-take conversation among poets while they workshop a poem arises from a foundation of mutual respect within the group.  My ongoing work as law clerk and public servant is a privilege, too.  I value being part of a community and inspiring an arts mind-set whenever possible.
                    </p> 
                </div>
            </div> 
           <div class="col-sm">
           <img  class="center-image about-image"  
                 src="./static/img/sharla-cover-bw-cropped.jpg" 
                 alt="Sharla Dawn" 
                 style="border: 1px solid #EEF2FF; padding: 5px; display: block;"/> 
            </div>
        </div>
    </div>
    {%endblock%}
 