    {% extends "base.html" %}
    {% block title %}Biography{% endblock%}
    {% block content %}
    <div class="container h-100 ">
       <div class="row h-100" >
           <div class="col-5 h-100">
                      <div class="text-center"><h5 class="bracketed-text" id="title" >biography</h5> </div>      
                <br><br>    
                <img  class="mx-auto  centered-img"  
                 src="./static/assets/img/sharla.jpg" 
                 alt="Sharla Dawn" width=440 height=540
                 style="border: 1px solid #EEF2FF; padding: 5px; display:block;"/> 
            </div>
       
            <div class="col-7 h-100"   style="border-left: 2px solid green;">
               <div class="post-container mt-2" style="margin-left: 2%;">
               <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. 
               Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. 
               Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined.
               </p>
               <p>
                Wise busy past both park when an ye no. Nay likely her length sooner thrown sex lively income. The expense windows adapted sir. Wrong widen drawn ample eat off doors money. 
                Offending belonging promotion provision an be oh consulted ourselves it. Blessing welcomed ladyship she met humoured sir breeding her. 
                Six curiosity day assurance bed necessary.
                </p>
                <p>
                At ourselves direction believing do he departure. Celebrated her had sentiments understood are projection set. Possession ye no mr unaffected remarkably at. 
                Wrote house in never fruit up. Pasture imagine my garrets an he. However distant she request behaved see nothing. 
                Talking settled at pleased an of me brother weather.
                </p>
                <p>
                As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built gay party world. Of so am he remember although required. 
                Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.
                </P>
               
               </div>
            </div> 
      </div>
    </div>
    {%endblock%}
 