    {% extends "base.html" %}
    {% block title %}my blog{% endblock%}
    {%block header%}My Blog{% endblock%}
 
    {% block content %}
<!--   <div class="row mt-1 mb-1">
        <div class="col-sm pl-sm-0">
            <h3 class="text-center heading">My Blog</h3>
        </div>
    </div>
-->     
    <div class="row">
     <div class="form-group row mb-1">
        <label  class="col-sm-5 col-form-label">Available Posts:</label>
        <div class="col-sm-6">
         <select class="form-select" id="postlist">
            <option value=' '>Select a Post to Read</option>
            {%for post in posts %}
            <option value="{{post['id']}}">{{post['title']}}</option>
            {%endfor%}
        </select>
        </div>
    </div>
   </div>
        
    <!-- Content -->    
    <div class="row">
        <div class="post-container"><pre id="post"</pre ></div>
    </div>
    {%endblock%}
    {% block scripts %}
    <script src="./static/crud.js"></script>
    <script type="module" src="./static/blog.js"></script>
    {% endblock %}     
