    {% extends "base.html" %}
    {% block title %}Book Details{% endblock%}
    {% block pageid %}{% endblock%}
    {% block content %}
 <!-- Display Book Summary and Excerpts --> 
    <div class="row mt-2"  style="height: 750px">
            <div class="col-6 border" style="width: 50%; height: 95%">
                <div class="row mt-1">
                    <div class="col" style="margin-left: 15%;"> <h5>{{book['title']}}</h5></div>
                </div>
                <div class="row">
                </div>
                <div class="row"style="margin-top: 60%; margin-left: 15%">
                    <div class="col pl-3">
                    <ul class="list-unstyled">
                    <li onclick="getBookSummary({{book['id']}})">summary</li>
                    <li onclick="getBookExcerpt({{book['id']}})">excerpt</li>
                    <li><a href="/orderbook/{{book['id']}}" style="text-decoration: none; color: rgb(33, 37, 41);">purchase</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        
            <div class="col-6 border" style="width: 50%; height: 95%;">
                <div class="row mt-1 mb-1">
                    <div class="col" style="margin-left: 15%;"> <h3>{{detail-type}}</h3></div>
                </div>
                <div class="row mt-1 post-container">
                    <div class="col" style="margin-left: 15%;"> <h3>{{detail-text}}</h3></div>
                </div>
            </div>             
    </div>
    {%endblock%}
 