
<div class="modal fade" 
    id="contactReplyModal" 
    tabindex="-1" 
    aria-labelledby="contactReplyModalLabel" 
    aria-hidden="true"    style="width: 45 %; margin-left: 32%; margin-top:  5%;"
>
  <div class="modal-dialog modal-dialog-scrollable" id="replyModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="contactReplyModalLabel">Send Contact Reply</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" placeholder="Write your reply here . . ." id="replyText" style="height: 400px"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalCloser">Close/Cancel</button>
        <button id="sendreply" type="button" class="btn btn-primary" >Send Reply</button>
      </div>
    </div>
  </div>
</div>