    {% extends "base.html" %}
    {% block title %}Home{% endblock%}
    {% block pageid %}'homepage'{% endblock%}
    {% block content %}
  
    <div class="row mt-2" >
            <!-- Left Side Page Image -->
            <div class="col-3  ms-2 mt-2 mb-3 ">
                  <img src="./static/assets/img/LR Stool-3.jpg" style="border-radius:  15px;" />
            </div>
        
            <!-- Right Side Page text -->
            <div class="col-md-6 mb-4 " style="margin-left: 5%;">
                <p>
 Welcome to my website. Whether it is recognizing beauty, evolving an identity, or rebelling against notions that hinder human freedom, I enjoy noticing what's going on around me.  My goal is to offer imaginative insights that will assist you toward making positive connections in your life too. 
                </p>
            </div>
    </div>
    {%endblock%}
 