    {% extends "base.html" %}
    {% block title %}Home{% endblock%}
    {% block content %}
    <div class="container h-100">
       <div class="row" style="height: 100%">      
            <div class="col-sm-4  ms-1 green-border">
                <div  style="margin-top: 15%; margin-left: 8%">
                  <img  src="./static/assets/img/Website_Name_Plate.jpg">
                </div>
            </div>
       
        <div class="col-sm" >
            <div  style="margin-top: 10%; ">
                <img  class="center-image" 
                src="./static/img/sharla-cover-color-cropped.jpg" 
                 alt="Sharla Dawn" width=60% height=80%
                 style="border: 1px solid #EEF2FF; padding: 5px; display:block;"/>
             </div>
        </div>     
     
    </div>
    {%endblock%}
 