   <div class="row" style="height: 98%">      
        <div class="col   ms-1" style="margin-top: 3% width: 40%; border-right: 2px solid violet">
            <div style="width: 100%;margin-top: 1%;">
              <img   src="./static/assets/img/Website_Name_Plate.jpg">
            </div>
<!--            <div class="text-center" style="width: 100%; margin-top: 15%;">
              <a href="#"><img class="border"src="./static/assets/img/aws-small.jpg" alt="American Woman Suspended"/></a>
            </div>-->  
        </div> 
       <div class="col centered-img" style=" width: 50%; padding: 10px">
            <br><br><br>
            <img  class="mx-auto"  
             src="./static/assets/img/chair photo.jpg" 
             alt="Sharla Dawn" width=440 height=540
             style="border: 1px solid #EEF2FF; padding: 5px; display:block;    "/> 
        </div>
        
        
  </div>