    {% extends "base.html" %}
    {% block title %}Contact{% endblock%}
    {% block content %}
    <div class="container mt-1  ">
        <div class="row">
            <div class="col lpsheader mb-2">
                Contact The Live Poets Society
            </div>
        </div>
        <div class="row" style="margin-top: 20%">
            <div class="col-sm-12  text-center contact-text">
                Email us at: TheLivePoetsSociety@google.com
            </div>
    
        </div>
     
    </div>
    {%endblock%}
