    {% extends "base.html" %}
    {% block title %}Musings{% endblock%}
    {% block content %}
    <div class="container h-100 ">
       <div class="row h-100" >
           <div class="col-5 h-100"  style="border-right: 2px solid violet;"> <!-- Left Side -->
                <div class="text-center"><h5 class="bracketed-text" id="title" >musings</h5> </div>    
                    <div>
                        <ul class="list-unstyled">
                            <a href="#what_is_true" class="is-active">What Is True?</a><br>
                            <a href="#how_i_became_a_writer" class="">How I Became A Writer</a><br>
                            <a href="#childhood_and_rebellion" class="">Childhood and Rebellion</a><br>
                            <a href="#life_in_exile" class="">Life In Exile</a><br>
                            <a href="#spiritual_letter" class="">A Spiritual Letter</a><br>
                            <a href="#love_lust_and_romance" class="">Love, Lust and Romance</a><br>
                            <a href="#paula" class="">Paula</a><br>
                            <a href="#writing_as_therapy" class="">Writing As Therapy</a><br>
                            <a href="#why_i_write" class="">Why I Write</a>
                        </ul>
                    </div>                
                      
            </div>
       
            <div class="col-7 h-100" <!-- style="border-left: 2px solid violet;"-->> 
               
            </div> 
      </div>
    </div>
    {%endblock%}
 