    {% extends "base.html" %}
    {% block title %}Biography{% endblock%}
    {% block content %}
    <div class="container h-100 ">
       <div class="row h-100" >
           <div class="col-5 h-100"  style="border-right: 2px solid violet;"> <!-- Left Side -->
                      <div class="text-center"><h5 class="bracketed-text" id="title" >biography</h5> </div>      
            </div>
       
            <div class="col-7 h-100" <!-- style="border-left: 2px solid violet;"-->> 
               
            </div> 
      </div>
    </div>
    {%endblock%}
 