    {% extends "base.html" %}
    {% block title %}About{% endblock%}
    {% block pageid %}{% endblock%}
    {% block content %}
    <div class="container post-container">
        <div class="row">
            <div class="col-3 bracketed-text">photos</div>
        </div>
        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
        </div>
        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
        </div>
        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
        </div>
        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/sharla2.png" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
        </div>
        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
        </div>        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
        </div>        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
        </div>        <div class="row ms-4">
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/aqws-bio.jpg" width=210 height=280></div>
            <div class="col-2 photo"><img src="./static/assets/img/chair photo.jpg" width=210 height=280></div>
        </div>
    </div> <!-- Edd Container -->
    {%endblock%}
    {% block scripts %}
    <script src="./static/crud.js"></script>
    <script type="module" src="./static/abouts.js"></script>
     {% endblock %}  
