<!-- Left side menu layout -->

        <div class="sidenav"    id="sidemenu" style="width: 150px; display: none;">
             <ul class="class=nav flex-column " style="list-style-type: none; font-size: 20px">
                <li class="nav-item mb-4 mt-4">
                  <a class="nav-link" id="homepage" href="/">Home</a>
                </li>
                <li class="nav-item mb-4">
                  <a class="nav-link" id="aboutpage" href="/about">About</a>
                </li>
                <li class="nav-item mb-4">
                  <a class="nav-link" id="bookspage" href="/books">Books</a>
                </li>
                <li class="nav-item mb-4">
                  <a class="nav-link" id= "prosepage" href="/prose">Prose</a>
                </li>
                <li class="nav-item mb-4">
                  <a class="nav-link" id="poetrypage" href="/poetry">Poetry</a>
                </li>
                <li class="nav-item mb-4">
                  <a class="nav-link" id="contactpage" href="/contact">Contact</a>
                </li>
                <li class="nav-item mb-4">
                  <a class="nav-link" id="blogpage"     href="/blog">Blog</a>
                </li>
              </ul>
        </div>
    </div>
