{% extends "base.html" %}
{% block title %}Orders Editor{% endblock%}
{% block content %}
    
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm pl-sm-0">
            <h3 class="text-center heading">Orders Editor</h3>
        </div>
    </div>
    <div class="row">
      <div class="col-5 offset-3 mt-3">
        <div class="form-group row mb-1">
            <label  class="col-sm-2 col-form-label">Choose an Order:</label>
            <div class="col-sm-6">
             <select class="form-select border" id="orderlist">
                <option value=''>Select an order to Edit</option>
                {%for order in orderlist %}
                <option value="{{order['id']}}">{{order['ordernum']}} {{order['name']}}</option>
                {%endfor%}
            </select>
            </div>
        
       </div> 
    </div>    
 
 <div class="row mt-3">
    <div class="col-5">
        <div class="col-sm">
            <form class="form" id="form1" name="form1" >
    <div class="form-group row mb-1">
        <label for="name" class="col-sm-2 col-form-label ">Name:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="name" name="name"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="address" class="col-sm-2 col-form-label">Address:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="address" name="address"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="address2" class="col-sm-2 col-form-label">Address2:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="address2" name="address2"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="city" class="col-sm-2 col-form-label">City:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="city" name="city"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="zip" class="col-sm-2 col-form-label">Zip:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="zip" name="zip"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="state" class="col-sm-2 col-form-label">State:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="state" name="state"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="country" class="col-sm-2 col-form-label">Country:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="country" name="country"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="email" name="email"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="numcopies" class="col-sm-2 col-form-label">Numcopies:</label>
        <div class="col-sm-6">
             <input type="number" class="form-control" id="numcopies" name="numcopies"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="message" class="col-sm-2 col-form-label">Message:</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
    </div>
   </div>
</div>   
    <div class="col-6">
    <div class="form-group row mb-1">
        <label for="bookid" class="col-sm-2 col-form-label">Bookid:</label>
        <div class="col-sm-6">
             <input type="number" class="form-control" id="bookid" name="bookid"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="price" class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-6">
             <input type="number" class="form-control" id="price" name="price"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="status" class="col-sm-2 col-form-label">Status:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="status" name="status"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="ordernum" class="col-sm-2 col-form-label">Ordernum:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="ordernum" name="ordernum"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="orderdate" class="col-sm-2 col-form-label">Orderdate:</label>
        <div class="col-sm-6">
             <input type="date" class="form-control" id="orderdate" name="orderdate"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="shipdate" class="col-sm-2 col-form-label">Shipdate:</label>
        <div class="col-sm-6">
             <input type="date" class="form-control" id="shipdate" name="shipdate"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="shipping" class="col-sm-2 col-form-label">Shipping:</label>
        <div class="col-sm-6">
             <input type="number" class="form-control" id="shipping" name="shipping"/>
        </div>
    </div>
    </div>
    </form>


        <div class="row">
            <div class="col-sm  text-center" >
                    {% include "editorbuttons2.html" %}
            </div>
        </div> 
            
         </div>
    </div>
            
    
</div>
{%endblock%}

{% block scripts %}
 <script src="./static/crud.js"></script>
 <script type="module" src="./static/ordermgr.js"></script>
{% endblock %} 