
        <div class="form-actions btn-group center ">
        <button accesskey="I" type="button"   class="btn btn-primary" onclick="processBookEdits('insert', event)"><u>I</u>nsert</button>
        <button accesskey="U" type="button" class="btn btn-primary" onclick="processBookEdits('update', event)"><u>U</u>pdate</button>
        <button accesskey="D" type="button" class="btn btn-primary" onclick="processBookEdits('delete', event)">De<u>l</u>ete</button>
        <button accesskey="T" type="button"  class="btn btn-primary" onclick="formReset()">Rese<u>t</u></button>
        </div>
   
