        <div class="row mt-3  ps-5">
            <div class="col-sm  text-center" >
                <div class="form-actions btn-group center ">
                    <button accesskey="C" type="button"   class="btn btn-primary" id="createbtn"><u>C</u>reate</button>
                    <button accesskey="R" type="button"   class="btn btn-primary" id="readbtn"><u>R</u>ead</button>
                    <button accesskey="U" type="button"   class="btn btn-primary" id="updatebtn"><u>U</u>pdate</button>
                    <button accesskey="L" type="button"    class="btn btn-primary" id="deletebtn">De<u>l</u>ete</button>
                    <button accesskey="T" type="button"  class="btn btn-primary" onclick="formReset()">Rese<u>t</u></button>
                </div>
           </div>
        </div> 
