{% extends "base.html" %}
{% block title %}Books Editor{% endblock%}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-sm pl-sm-0">
            <h3 class="text-center heading">Books Editor</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <form class="form" id="form1" name="form1" >    <div class="form-group row mb-1">
        <label for="title" class="col-sm-5 col-form-label">Title:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="title" name="title"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="author" class="col-sm-5 col-form-label">Author:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="author" name="author"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="imagename" class="col-sm-5 col-form-label">Imagename:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="imagename" name="imagename"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="description" class="col-sm-5 col-form-label">Description:</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="price" class="col-sm-5 col-form-label">Price:</label>
        <div class="col-sm-6">
             <input type="number" class="form-control" id="price" name="price"/>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label for="bookcode" class="col-sm-5 col-form-label">Bookcode:</label>
        <div class="col-sm-6">
             <input type="text" class="form-control" id="bookcode" name="bookcode"/>
        </div>
    </div>

        <div class="row">
            <div class="col-sm  text-center" >
                    {% include "editorbuttons.html" %}
            </div>
        </div> 
            
         </div>
    </div>
            
    
</div>
{%endblock%}
 {% block scripts %}<script src="./static/books.js"></script>{% endblock %} 